{% extends 'base.html' %}
{% block content %}
  {% if name != '' %}
    <div class="d-flex justify-content-between">
      <h3>{{ name }}</h3><h3>version: {{ version }}</h3>
    </div>
  {% else %}
    <div class="d-flex justify-content-between">
      <h3>Wops Wrong Person</h3><h3>version: {{ version }}</h3>
    </div>
  {% endif %}
  <hr />
  <div class="overflow-scroll">
    <center>
      {% comment %} {% for emp in employees %} {% endcomment %}
      {% for emp in news %}
      <div class="col-md-6 mb-4b border border-dark rounded-3 mb-2 d-flex justify-content-between px-2" style=" background-color: moccasin;">
        <h4><strong>{{ emp.title }}</strong></h4>{{ emp.date }}
      </div>
      <div class="col-md-6 mb-4b border border-dark rounded-3 px-2 p-1" style="height: 15em; background-color:moccasin;">
        <p class="text-muted" style="text-align: justify;">{{ emp.content }}</p>
      </div>
        <br />
        {% comment %} <h3>{{ emp.name }}</h3>
        <p>{{ emp.designation }}</p> {% endcomment %}
        <br />
      {% endfor %}
    </center>
  </div>
  <hr />
{% endblock %}
