{% extends 'base.html' %}
{% block content %}
  <!-- Services section -->
  <h2>{{ name }}</h2>
  <form method="POST" action="{% url 'join' %}">
    {% csrf_token %}
    {% comment %} <div class="mb-3">
      <label for="exampleInputEmail" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Your Email Here" name="email" value="{{ email }}"/>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword" placeholder="Your Password Here" name="passwd" value="{{ passwd }}"/>
    </div>
    <div class="mb-3">
      <label for="exampleInputFirstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Your First Name Here" name="fname" value="{{ fname  }}"/>
    </div>
    <div class="mb-3">
      <label for="exampleInputLastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="exampleInputLastName" placeholder="Your Last Name Here" name="lname" value="{{ lname }}"/>
    </div>
    <div class="mb-3">
      <label for="exampleInputAge" class="form-label">Age</label>
      <input type="number" min="1" class="form-control" id="exampleInputAge" placeholder="Your Age Here" name="age" value="{{ age }}"/>
    </div> {% endcomment %}
    <label for="exampleInputTitle" class="form-label">Email address</label>
      <input type="text" class="form-control" id="exampleInputTitle" placeholder="The Title of the News goes here" name="title" value="{{ title }}"/>
    </div>
    <div class="mb-3">
      <label for="exampleInputContent" class="form-label">Password</label>
      <input type="textarea" class="form-control" id="exampleInputContent" placeholder="The News Content here" name="content" value="{{ content }}"/>
    </div>
    <div class="mb-3">
      <label for="exampleInputDate" class="form-label">Password</label>
      <input type="date" class="form-control" id="exampleInputDate" name="date" value="{{ date }}"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
